<div>
  Nombre: {{input type="text" value=model.nombre}}">
</div>
<div>
  Apellido: {{input type="text" value=model.apellido}}">
</div>
<div>
  Edad: {{input type="text" value=model.edad}}">
</div>
<div>
  Telefono: {{input type="text" value=model.telefono}}">
</div>
<div>
  Direccion: {{input type="text" value=model.direccion}}">
</div>
<div>
  Localidad: {{input type="text" value=model.localidad}}">
</div>
